@media screen and (max-width: 825px) {
    .u-a5 {
        font-size: 10px;
        line-height: 24px;
    }
    .c-mouse-vertical-carousel__list-item a {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .modal-window video {
        width: 100%;
    }
    .modal-window {
        padding: 20px 10px;
    }
}
@media screen and (max-width: 1000px) {
    .modal-window a {
        width: 30%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 725px) {
    .modal-window a {
        width: 32%;
        margin-bottom: 0px;
    }
    .modal-window .img img {
        height: 128px;
    }
    .main-menu a {
        font-size: 25px;
    }
}
@media screen and (max-width: 540px) {
    .modal-window .img {
        width: 85%;
    }
}
@media screen and (max-width: 1200px) {
    .main-menu a {
        font-size: 25px;
        width: 20%;
    }
    .modal-close {
        width: 140px;
        font-size: 25px;
    }
    .modal-clone-right {
        left: 91%;
    }
    .main-menu {
        padding: 30px 0;
    }
    .back {
        font-size: 24px;
        width: 180px;
        bottom: 110px;
        margin-bottom: 0;
    }
    .inner-page img {
        height: 110px;
    }
    .u-media-wrapper {
        height: 260px;
    }
    .modal-window .video {
        width: 66%;
        position: absolute;
        top: 46%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .modal-window .img img {
       height: 232px;
    }
    .modal-window .img {
        width: 62%;
    }
    .c-mouse-vertical-carousel__list {
        position: relative;
        height: 100%;
        z-index: 100;
    }
    .c-mouse-vertical-carousel__list-item a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 55%;
    }
    .c-mouse-vertical-carousel__eyebrow {
        padding-bottom: 5px;
    }
    .c-mouse-vertical-carousel__title {
        font-size: 16px;
    }
    .c-mouse-vertical-carousel__list-item {
        opacity: 1 !important;
    }
}