* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-height: 100%;
    overflow: hidden;
}

.c-header {
    display: block;
    width: 100%;
}

.u-a5 {
    font-family: Arial;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.u-b4 {
    font-family: Arial;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.3px;
    font-weight: normal;
    color: #fff;
}

a {
    text-decoration: none;
}

.u-media-wrapper {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 0;
}

.u-media-wrapper.u-media-wrapper--16-9 {
    padding-bottom: 56.25%;
}

.c-gradient-overlay {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 49% 50%, rgba(2, 21, 25, 0.3), rgba(2, 21, 25, 0.6));
}

.c-mouse-vertical-carousel {
    position: relative;
    overflow: hidden;
}

.c-mouse-vertical-carousel__list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}

.c-mouse-vertical-carousel__list-item a {
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 68.166667%;
}

.c-mouse-vertical-carousel__eyebrow {
    position: relative;
    padding-bottom: 12px;
}

.c-mouse-vertical-carousel__eyebrow span {
    position: absolute;
    left: -30px;
    top: 2px;
}

.c-mouse-vertical-carousel__title {
    max-width: 450px;
}

.c-mouse-vertical-carousel__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.modal {
    position: relative;
}

.modal-window {
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    margin: 0 auto;
}

.modal-window .video {
    margin: 0 auto;
    width: 66%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.modal-window .img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #ffffff;
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    height: auto;
}

.modal-window a {
    width: 24%;
}

.modal-window .img img {
    width: 100%;
    margin-bottom: 15px;
    object-fit: cover;
    height: 312px;
    display: block;
}

.modal-window video {
    width: 100%;
    outline: none;
}

.modal-text {
    background: #ffffff;
    color: #000000;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    font-size: 25px;
    min-height: 100%;
}

.modal-text h1 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.modal-text h1:after {
    content: '';
    background: url("./img/flag.jpg") no-repeat;
    width: 40px;
    height: 20px;
    background-size: contain;
    margin-left: 20px;
    display: inline-block;
}

.modal-close {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 13%;
    border-radius: 25px;
    font-size: 32px;
    background: rgba(192, 192, 192, 0.6);
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
}

.modal-clone-left {
    position: fixed;
    top: 44%;
    left: 9%;
    transform: translateX(-50%);
}

.modal-clone-right {
    position: fixed;
    top: 44%;
    left: 90%;
    transform: translateX(-50%);
}

#lz-box img {
    width: 75% !important;
}

#lz-overlay {
    opacity: 10.5 !important;
}

:root {
    --crsl-bg: transparent;
    --box-shadow: #0000001c;
    --box-shadow-border: #0000000f;
    --box-border: #fff;
}

/*Мои стили*/

/*html, body {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: #2f3539;*/
/*  background: -moz-radial-gradient(circle, #2f3539 0%, #1e272e 100%);*/
/*  background: -webkit-radial-gradient(circle, #2f3539 0%, #1e272e 100%);*/
/*  background: #000;*/
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3539",endColorstr="#1e272e",GradientType=1);*/
/*}*/
/*body {*/
/*  padding-top: 50px;*/
/*}*/
html *, body * {
    font-family: 'Source Sans Pro', sans-serif;
}

html > p, body > p {
    font-size: .95em;
    font-weight: bold;
    width: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #FFD700;
    user-select: none;
    margin-top: 0;
    margin-bottom: 60px;

}

html > .carousel, body > .carousel {

}

header {
    text-align: center;
}

header img {
    width: 600px;
}

.carousel {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.carousel__prev, .carousel__next {
    position: absolute;
    bottom: -15%;
    transition: transform 0.25s ease;
    border: none;
    width: 40px;
    height: 40px;
}

.carousel__prev img, .carousel__next img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a {
    color: #FFD700;
    text-decoration: none;
}

.carousel__prev i, .carousel__next i {
    font-size: 60px;
    color: var(--box-border);
    cursor: pointer;
}

.carousel__prev:hover, .carousel__next:hover {
    transform: scale(1.25);
}

.carousel__prev {
    left: 40%;
}

.carousel__next {
    right: 40%;
}

.carousel__body {
    width: 100%;
    padding: 40px 0 50px 0;
    overflow: hidden;
}

.carousel__body .carousel__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: var(--crsl-bg);
}

.carousel__body .carousel__slider__item {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel__slider__item > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.item__3d-frame > a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 1000;
    transition: 0.3s;
}

.item__3d-frame > a:hover {
    background: rgba(255, 255, 255, 0.5);
}

.item__3d-frame img {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
}

.carousel__body .carousel__slider__item .item__3d-frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.carousel__body .carousel__slider__item .item__3d-frame:after {
    content: '';
    position: absolute;
    bottom: -15%;
    width: 100%;
    height: 40px;
    background: var(--box-shadow);
    box-shadow: 0px 0px 5px 5px var(--box-shadow);
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
    opacity: 0.85;
}

.carousel__body .carousel__slider__item .item__3d-frame__box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-color: var(--box-border);
    background-color: #000;
    border-width: 3px;
    border-style: solid;
}

.carousel__body .carousel__slider__item .item__3d-frame__box h1 {
    font-size: 7em;
    width: 100%;
    color: var(--box-border);
}

.carousel__body .carousel__slider__item .item__3d-frame__box h5 {
    font-size: 1.4em;
    width: 100%;
    color: var(--box-border);
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right, .carousel__body .carousel__slider__item .item__3d-frame__box--left {
    top: 0;
    width: 40px;
    backface-visibility: hidden;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -40px) rotateY(-90deg);
    transform-origin: 0%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -40px) rotateY(90deg);
    transform-origin: 100%;
}

img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1120px) {

    html > p, body > p {
        margin-bottom: 45px;
    }

    .carousel__body {
        padding: 30px 0 30px 0;
    }
}

@media screen and (max-width: 1120px) and (max-height: 460px) {

    html > p, body > p {
        margin-bottom: 25px;
    }

    .carousel__prev, .carousel__next {
        width: 30px;
        height: 30px;
        bottom: -20%;
    }

    .carousel__body .carousel__slider__item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
}

.buttons a {
    margin-right: 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 230px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.buttons a.active {
    border: 5px solid white;
}

.buttons a:last-child {
    margin-right: 0;
}


.main-page {
    background: url("./img/background-img.png") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

header {
    text-align: center;
}

header img {
    width: 600px;
    margin-top: 30px;
}

.inner-page img {
    height: 170px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.main-menu {
    display: flex;
    justify-content: center;
    width: 99.9%;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 100px 0;
    background: rgba(192, 192, 192, 0.3);

}

.main-menu a {
    font-size: 45px;
    color: #ffffff;
    width: 20%;
    text-align: center;
}

.back {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 230px;
    border-radius: 25px;
    font-size: 32px;
    position: absolute;
    bottom: 130px;
    left: 50%;
    background: rgba(192, 192, 192, 0.6);
    margin-bottom: 10px;
    transform: translateX(-50%);
    outline: none;
    cursor: pointer;
}

.modal-show-left {
    text-align: right !important;
}

.modal-show-right {
    text-align: left !important;
}

.back a {
    color: #ffffff;
}

@media screen and (max-width: 1120px) {
    html > p, body > p {
        margin-bottom: 45px;
    }

    .carousel__body {
        padding: 30px 0 30px 0;
    }

    header img {
        width: 400px;
    }

    .buttons a {
        font-size: 24px;
        width: 180px;
    }

    .item__3d-frame > a {
        height: 30px;
        border-radius: 15px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1120px) and (max-height: 460px) {
    html > p, body > p {
        margin-bottom: 25px;
    }

    .carousel__prev, .carousel__next {
        width: 30px;
        height: 30px;
        bottom: -20%;
    }

    .carousel__body .carousel__slider__item {
        margin-left: 10px;
        margin-right: 10px;
    }

    header img {
        width: 200px;
    }
}